*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    text-align: center;
    min-height: 100vh;
}

.title{
    margin-top: 100px;
    font-size: 4rem;
    color: orange;
}

.image{
    width: 900px;
}

.parOne{
    font-size: 3rem;
}

.navbar{
    display:flex;
    justify-content: space-between;
    margin: 50px 150px;
    font-size: 2rem;
    list-style:none;
    font-weight: 700;
}

.navbar li:hover{
    cursor: pointer;
    color: rgb(217, 148, 20);
}